# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# PDFs
*.pdf

# Build files
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log

**/desktop.ini

# Executables & builds
dist/
*.exe
*.zip

# Logs
results/
*/results/